/* ================= GLOBAL ================= */
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
}

h1 {
    text-align: center;
}

.menu, .struk {
    background: white;
    padding: 15px;
    width: 300px;
    float: left;
    margin: 15px;
    border-radius: 10px;
}

/* ================= LOGO ================= */
 .logo-struk {
        text-align: center;
        width: 100%;
    }

    .logo-struk img {
        display: block;       /* ⬅️ KUNCI UTAMA */
        margin: 0 auto;       /* ⬅️ CENTER REAL */
        width: 120px;         /* besar saat print */
        height: auto;
        opacity: 1;
    }

/* ================= STRUK ================= */
.struk {
    font-family: monospace;
}

.struk ul {
    padding-left: 0;
}

.struk li {
    list-style: none;
    font-size: 12px;
}

/* ================= BUTTON ================= */
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background: brown;
    color: white;
    border: none;
    cursor: pointer;
}

/* ================= TERIMA KASIH ================= */
#thanks {
    display: none;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/* ================= THERMAL ================= */
.thermal-58 { width: 58mm; }
.thermal-80 { width: 80mm; }

/* ================= PRINT MODE ================= */
@media print {

  /* sembunyikan semua */
  body * {
    display: none !important;
  }

  /* tampilkan STRUK */
  .struk {
    display: block !important;
    width: 58mm;
    font-size: 11px;
    margin: 0 auto;
  }

  /* tampilkan isi struk */
  .struk * {
    display: block !important;
  }

  /* STRUK PEMBAYARAN */
  #strukPembayaran {
    page-break-after: always;
  }

  /* STRUK DAPUR */
  #strukDapur {
    page-break-after: auto;
  }

  /* logo besar */
  .logo-struk img {
    width: 120px;
    margin-bottom: 6px;
  }
}

#cashBox {
    margin-top: 8px;
    position: relative;
    z-index: 10;
}

#bayar {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

